* {
    box-sizing: border-box;
    font-family: "source-code-pro", monospace;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #b7e4f3;
    align-items: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }

.controls {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.synth-body {
    background-color: #f56363;
    padding: 50px;
}

.keyboard {
    display: flex;
}

.key {
    position: relative;
    border: 1px solid grey;
    border-radius: 4px;
    background-color: white;
    height: 360px;
    width: 90px;
    transition-duration: 40ms;
    transition-timing-function: ease-out;
    margin: 0 2px 0 2px;
    padding: 4px;
    display: flex;
    flex-direction: column-reverse;
    color: slategrey;
    font-size: 20px;
    cursor: pointer;
}

.black-key {
    position: relative;
    top: -5px;
    background-color: slategray;
    color: lightgrey;
    margin: 0 -22px 0 -23px;
    height: 200px;
    width: 45px;
    z-index: 10;
}

.key span {
    text-align: center;
}

.inactive-key {
    transition-duration: 100ms;
    transition-timing-function: ease-out;
}

.tonic {
    background-color: lightcoral;
    box-shadow: 0px 0px 4px lightcoral;
    border: 1px solid lightcoral;
    color: #d25353;
}

.selected-key {
    background-color: yellow;
    box-shadow: 0px 0px 4px #ffd900;
    border: 1px solid rgb(251, 237, 35);
    color:hsl(45, 93%, 50%);
}

.active-key {
    background-color: #8fd8f0;
    box-shadow: 0px 0px 4px cyan;
    border: 1px solid lightsteelblue;
    color: #4573af;
}


button {
    min-height: 50px;
    min-width: 50px;
}

.area-title {
    width: 100%;
    border-bottom: black 1.5px solid;
    margin: 0px;
}

.tonality-area {
    display: flex;
    flex-wrap: wrap;
    align-self: baseline;
    column-gap: 10px;
    grid-row: 2/3;
    grid-column: 2/3;
    row-gap: 10px;
}

.tonality-button {
    background-color: white;
    border-radius: 4px;
    padding: 4px 8px;
    text-align: center;
    border: 1.5px solid slategray;
}

.tonality-button-base {
    transition: 0.1s ease-out;
    color: slategrey;
    position: relative;
    padding: 2px;
    background-color: white;
    border-radius: 6px;
    cursor: pointer;
}

.key-area {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    grid-column: 1/2;
    grid-row: 2/3;
}

.key-text {
    color: slategray
}

.unpressed {
    top: -4px;
    box-shadow: black 0px 4px 0px;
    color: rgb(216, 216, 216);
}

.pressed {
    top: 0;
    box-shadow: lightpink 0 0 5px;
    color: red;
}

.control-area {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    padding-bottom: 24px;
    width: 650px;
}

.info-display {
    background-color: black;
    color: white;
    padding: 1rem;
    border-radius: 8px;
    /* min-width: 251px; */
    grid-column: 1/3;
    grid-row: 1 / 2 ;
}

.info-display-box {
    display: flex;
}

.info-display-box p {
    margin: 4px;
}