.inactive-key {
    position: inherit;
    background-color: aliceblue;
    transition-duration: 80ms;
    transition-timing-function: ease-out;
}

.tonic {
    background-color: lightcoral;
}

.selected-key {
    background-color: yellow;
}

.active-key {
    position: inherit;
    background-color: lightgreen;
}
.black-notes {
    position: relative;
    top: -20px;
}

button {
    min-height: 50px;
    min-width: 50px;
}