.active-key {
    position: inherit;
    background-color: lightgreen;
}

.inactive-key {
    position: inherit;
    background-color: aliceblue;
    transition-duration: 80ms;
    transition-timing-function: ease-out;
}

.black-notes {
    position: relative;
    top: -20px;
}

button {
    min-height: 50px;
    min-width: 50px;
}